@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-background-main text-foreground-primary font-sans antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-heading text-foreground-primary;
  }

  p {
    @apply text-foreground-secondary;
  }

  a {
    @apply text-accent-highlight hover:text-accent-primary underline-offset-4;
  }
}
